{% extends '_base.html' %}

{% block title %}{% trans %}Download Buckets{% endtrans %}{% endblock %}

{% block navlinks %}{% endblock %}

{% block extrahead %}
<style>
.right {
  text-align: right;
}
.download-table {
  width: 80%;
  margin: 0 auto;
}
.download-table td,
.download-table th {
  padding: .5rem 0;
  vertical-align: top;
}
.download-table th {
  padding-top: 1.2rem;
}
.download-table .buttonish {
  width: 100%;
}
.buttonish.beta {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.buttonish.disabled {
  opacity: 0.3;
}
.buttonish.disabled:hover {
  background-color: #2eaef1;
  border-color: #2eaef1;
  cursor: normal;
}
</style>
{% endblock %}

{% block header %}
{% endblock %}

{% macro dllink(filename, beta=False) %}
{% if beta %}
  <a class="buttonish download beta" href="{% if beta_version %}https://github.com/buckets/desktop-beta/releases/download/v{{ beta_version }}/{{ filename }}{% else %}https://github.com/buckets/desktop-beta/releases/latest{% endif %}">
    {{ label }}
    {{ caller() }}
  </a>
{% else %}
  <a class="buttonish download" href="{% if latest_version %}https://github.com/buckets/application/releases/download/v{{ latest_version }}/{{ filename }}{% else %}https://github.com/buckets/application/releases/latest{% endif %}">
    {{ label }}
    {{ caller() }}
  </a>
{% endif %}
{% endmacro %}


{% block content %}
<div class="wrap spaced">
  <h1 class="center">{% trans %}Download{% endtrans %}</h1>

  <div class="center">
    <img src="/static/img/main_logo.png" width="64" height="64">
  </div>
  <h2 class="center">Buckets {% if latest_version %}v{{ latest_version }}{% endif %}</h2>
  <table class="download-table">
    <tr>
      <td>
        <div class="side-by-side-buttons">
          {% call dllink("Buckets-Setup-" + latest_version + ".exe") %}
            <span class="fa fa-windows"><span> {% trans %}Windows Installer{% endtrans %}
          {% endcall %}
          
          <!--
          {% call dllink("Buckets-" + latest_version + ".exe") %}
            <span class="fa fa-windows"><span> {% trans %}Windows Portable{% endtrans %}
          {% endcall %}
        -->
        </div>
      </td>
    </tr>
    <tr>
      <td>
        {% call dllink("Buckets-" + latest_version + ".dmg") %}<span class="fa fa-apple"><span> macOS{% endcall %}
      </td>
    </tr>
    <tr>
      <td>
        <div class="side-by-side-buttons">
          {% call dllink("Buckets-" + latest_version + "-x86_64.AppImage") %}
            <span class="fa fa-linux"></span>
            AppImage
          {% endcall %}

          {% call dllink("Buckets_" + latest_version + "_amd64.deb") %}
            <span class="fa fa-linux"></span>
            amd64.deb
          {% endcall %}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <a class="buttonish download disabled" disabled title="iOS">iOS {% trans %}coming soon{% endtrans %}</a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="buttonish download disabled" disabled title="Android"><span class="fa fa-android"></span> {% trans %}coming soon{% endtrans %}</a>
      </td>
    </tr>
  </table>

  <hr/>

  <!---------------------------------------------------------->
  

  <div class="center">
    <img src="/static/img/beta_logo.png" width="64" height="64">
  </div>
  <h2 class="center">Buckets Beta {% if beta_version %}v{{ beta_version }}{% endif %}</h2>
  <p>
    {% trans %}This version contains the latest features, but it may also contain bugs.{% endtrans %}  {% trans %}Most users should choose the normal version unless they're comfortable finding and reporting bugs.{% endtrans %}
  </p>

  <table class="download-table">
    <tr>
      <td>
        <div class="side-by-side-buttons">
          {% call dllink("BucketsBeta-Setup-" + beta_version + ".exe", beta=True) %}
            <span class="fa fa-windows"><span> {% trans %}Windows Installer{% endtrans %}
          {% endcall %}
          
          {% call dllink("BucketsBeta-" + beta_version + ".exe", beta=True) %}
            <span class="fa fa-windows"><span> {% trans %}Windows Portable{% endtrans %}
          {% endcall %}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        {% call dllink("BucketsBeta-" + beta_version + ".dmg", beta=True) %}<span class="fa fa-apple"><span> macOS{% endcall %}
      </td>
    </tr>
    <tr>
      <td>
        <div class="side-by-side-buttons">
          {% call dllink("BucketsBeta-" + beta_version + "-x86_64.AppImage", beta=True) %}
            <span class="fa fa-linux"></span>
            AppImage
          {% endcall %}

          {% call dllink("BucketsBeta_" + beta_version + "_amd64.deb", beta=True) %}
            <span class="fa fa-linux"></span>
            amd64.deb
          {% endcall %}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <a class="buttonish download beta disabled" disabled title="iOS">iOS {% trans %}coming soon{% endtrans %}</a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="buttonish download beta disabled" disabled title="Android"><span class="fa fa-android"></span> {% trans %}coming soon{% endtrans %}</a>
      </td>
    </tr>
  </table>
</div>
{% endblock content %}