@import 'https://fonts.googleapis.com/css?family=Lato';
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body, html {
    padding: 0;
    margin: 0;
}
a {
    color: rgba(52, 152, 219,1.0);
}
.body-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 960px;
    margin: 0 auto;
}
header {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    margin-bottom: .5rem;
}
header .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .navlinks a {
    padding: .25rem 1rem;
    text-decoration: none;
}
header .navlinks a:first-child {
    padding-left: 0;
}
header .navlinks a.active {
    color: rgba(231, 76, 60,1.0);
}
header .user {
    padding: .25rem 0 .25rem 1rem;
}
.flash-messages {
    padding: 0 .5rem;
}
.flash-messages .message {
    background-color: rgba(52, 152, 219, 0.2);
    border-radius: 2px;
    padding: .75rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
}
.main-content {
    flex-grow: 1;
    padding: 0;
}
footer {
    padding: .5rem;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}


.negative {
    color: rgba(231, 76, 60,1.0);
}

/* ----------------------------------------- */
/* Table */
/* ----------------------------------------- */
table {
    border-collapse: collapse;
}

table.ledger th {
    text-align: left;
    vertical-align: bottom;

    border-bottom: 3px solid rgba(44, 62, 80, 0.5);
    color: rgba(44, 62, 80, 0.5);
    font-weight: normal;
}
table.ledger td {
    text-align: left;
    vertical-align: top;
}
table.ledger th,
table.ledger td {
    padding: .5rem 1rem;
}
table.ledger td {
    border: 1px solid lightgrey;
    border-width: 0 0 1px 0;
}
table.ledger tr.subtotal th,
table.ledger tr.subtotal td {
    border-top: 2px solid rgba(44, 62, 80, 0.5);
    text-transform: uppercase;
    color: rgba(44, 62, 80, 0.5);
    border-bottom: 0px;
}
table.ledger .right {
    text-align: right;
}
table.ledger tr.underdrag td {
    border-bottom: 4px solid rgba(231, 76, 60,1.0) !important;
}
table.ledger .dragging {
    opacity: 0.2;
}

table.ledger tr.group td:first-child {
    border-left: 6px solid rgba(22, 160, 133,1.0);
}
table.ledger tr.group td {
    color: rgba(22, 160, 133,1.0);
}


/*input[type=text] {
    font-size: 1rem;
    padding: .5rem 0.25rem;
    margin: 0;
    height: 1rem;
}*/

.goalbar {
    width: 100%;
    min-width: 8rem;
    min-height: 6px;
    position: relative;
}
.goalbar .background {
    background-color: rgba(189, 195, 199, 0.5);
    border-radius: 1000px;
    height: 6px;
    position: relative;
}
.goalbar .foreground {
    background-color: rgba(52, 152, 219,1.0);
    border-radius: 1000px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
}
.goalbar .data {
    font-size: 0.6rem;
    padding-top: 0.1rem;
}

div.form {
}
div.form div.pair {
    display: flex;
}

div.form div.label {
    color: rgba(44, 62, 80, 0.5);
    text-align: right;
    width: 10rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
div.form div.control {
    padding-bottom: 0.5rem;
}



.categorizer {

}
.categorizer .category {
    display: flex;
}
.categorizer .bucket {
    flex-basis: 60%;
}
.categorizer .amount {
    flex-basis: 30%;
    text-align: right;
}

.category-tag {
    display: inline-flex;
    background-color: rgba(41, 128, 185,1.0);
    color: white;
    margin-right: .2rem;
    border-radius: 2px;
    font-size: .75rem;
    cursor: pointer;
}
.category-tag .category-name {
    padding: .1rem .3rem .2rem;
}
.category-tag .negative {
    color: white;
}
.category-tag .category-amount {
    padding: .1rem .3rem;
    background-color: rgba(255,255,255, 0.3);
}