@import 'https://fonts.googleapis.com/css?family=Lato';
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body, html {
    padding: 0;
    margin: 0;
}
a {
    color: rgba(52, 152, 219,1.0);
}
.body-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 960px;
    margin: 0 auto;
}
header {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    margin-bottom: .5rem;
}
header .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .navlinks a {
    padding: .25rem 1rem;
    text-decoration: none;
}
header .navlinks a:first-child {
    padding-left: 0;
}
header .navlinks a.active {
    color: rgba(231, 76, 60,1.0);
}
header .user {
    padding: .25rem 0 .25rem 1rem;
}
.flash-messages {
    padding: 0 .5rem;
}
.flash-messages .message {
    background-color: rgba(52, 152, 219, 0.2);
    border-radius: 2px;
    padding: .75rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
}
.main-content {
    flex-grow: 1;
    padding: 0 .5rem;
}
footer {
    padding: .5rem;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}


.negative {
    color: rgba(231, 76, 60,1.0);
}

/* ----------------------------------------- */
/* Table */
/* ----------------------------------------- */
table {
    border-collapse: collapse;
}

table.ledger th {
    text-align: left;
    vertical-align: bottom;
    background-color: rgba(52, 152, 219,1.0);
    color: white;
    font-weight: bold;
}
table.ledger td {
    text-align: left;
    vertical-align: top;
}
table.ledger th,
table.ledger td {
    padding: .5rem 1rem;
}
table.ledger td {
    border: 1px solid lightgrey;
    border-width: 0 0 1px 0;
}
table.ledger tr.subtotal th,
table.ledger tr.subtotal td {
    border-top: 3px solid rgba(52, 152, 219,1.0);
    text-transform: uppercase;
    color: rgba(52, 152, 219,1.0);
}
table.ledger .right {
    text-align: right;
}

table.form th {
    text-align: left;
    font-weight: normal;
}
table.form td,
table.form th {
    padding: .25rem .5rem;
}