{%- macro navlink(arg) -%}
{% set href = url_for(arg, **kwargs) %}
href="{{ href }}" class="{{ 'active' if href == request.path }}"
{%- endmacro -%}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Buckets{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}"  type="image/png">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script>
  function afterEl(anchor) {
    var elem = document.createElement('div');
    anchor.parentNode.insertBefore(elem, anchor.nextSibling);
    return elem;
  }
  </script>
  {% block extrahead %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <div class="body-wrap">
    {% block header %}
    <header>
      <div class="navlinks">
      {% block navlinks %}
      <a href="/" class="logo">Home</a>
      {% endblock %}
      </div>
      <div class="navlinks">
        {% if g.user %}
        <div class="user">{{ g.user.name }}</div>
        {% block signoutlink %}
        {% if g.pin_valid %}
          <a href="{{ url_for('app.maybe_signout') }}">Sign out</a>
        {% else %}
          <a href="{{ url_for('anon.signout') }}">Sign out harder</a>
        {% endif %}
        {% endblock %}
        {% endif %}
      </div>
    </header>
    {% endblock %}
    <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="message {{ category }}">{{ message }}
            <a class="close" onclick="this.parentNode.remove();">&#x2715;</a>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    {%- block subheader -%}{%- endblock -%}

    {% block pre_content %}{% endblock %}
    <div class="main-content {% block content_class %}{% endblock %}">
      {%- block content -%}{%- endblock -%}
    </div>
    {% block post_content %}{% endblock %}
    {% block footer %}<footer></footer>{% endblock %}
  </div>
</body>
</html>
