{%- macro navlink(arg) -%}
{% set href = url_for(arg, **kwargs) %}
href="{{ href }}" class="{{ 'active' if href == request.path }}"
{%- endmacro -%}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Buckets{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"  type="image/png">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script>
  function afterEl(anchor) {
    var elem = document.createElement('div');
    anchor.parentNode.insertBefore(elem, anchor.nextSibling);
    return elem;
  }
  </script>
  {% block extrahead %}{% endblock %}
  {% block vendorscripts %}{% endblock %}
  <script src="/static/js/vend/raven-2.3.0.min.js"></script>
  {% block myscripts %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <div id="about-to-expire">This window has been sitting idle for a while. To protect your information, you will soon be signed out.</div>
  {% block preheader %}{% endblock %}
  <div class="flash-messages">
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="message {{ category }}">{{ message }}
          <a class="close" onclick="this.parentNode.remove();">&#x2715;</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
  <div class="body-wrap">
    {% block header %}
    <header>
      <div class="navlinks">
      {% block navlinks %}
      <a href="/" class="logo">Home</a>
      {% endblock %}
      </div>
      <div class="navlinks">
        {% if g.user %}
        <a href="{{ url_for('app.farms') }}">{{ g.user.name }}</a>
        {% block afteruserlinks %}{% endblock %}
        {% block signoutlink %}
        {% if g.pin_valid %}
          <a href="{{ url_for('app.maybe_signout') }}">Sign out</a>
        {% else %}
          <a href="{{ url_for('anon.signout') }}">Sign out harder</a>
        {% endif %}
        {% endblock %}
        {% endif %}
      </div>
    </header>
    {% endblock %}

    {%- block subheader -%}{%- endblock -%}

    {% block pre_content %}{% endblock %}
    <div class="main-content {% block content_class %}{% endblock %}">
      {%- block content -%}{%- endblock -%}
    </div>
    {% block post_content %}{% endblock %}
    {% block footer %}<footer></footer>{% endblock %}
  </div>

  {% if g.user_id %}
  <script>
  window.csrf_token = '{{ create_csrf(g.user_id) }}';
  </script>
  {% endif %}

  {% if g.pin_valid %}
  <script>
  localStorage.setItem('pin_expiration', '{{ g.pin_expiration }}');
  window.addEventListener('storage', function(ev) {
    update_pin_expiration_notice();
  }, false);
  window.update_pin_expiration = function(newval) {
    localStorage.setItem('pin_expiration', '' + newval);
    update_pin_expiration_notice();
  }
  var expiration_check_interval = 20 * 1000;
  function update_pin_expiration_notice() {
    var pin_expiration = parseInt(localStorage.getItem('pin_expiration', '0'));
    var threshold = 5 * 60;
    var now = Date.now() / 1000.0;
    var time_left = pin_expiration - now;
    if (time_left <= 0) {
      // expired
      window.location.reload();
    } else if (time_left <= threshold) {
      // about to expire
      document.getElementById('about-to-expire').setAttribute('class', 'showing');
      if ((time_left * 1000) < expiration_check_interval) {
        setTimeout(update_pin_expiration_notice, (time_left * 1000) + 2000);
      }
    } else {
      document.getElementById('about-to-expire').setAttribute('class', '');
    }
  }
  setInterval(function() {
    update_pin_expiration_notice();
  }, expiration_check_interval);
  update_pin_expiration_notice();
  </script>
  {% endif %}
</body>
</html>
