{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<h1>{% trans %}Oops{% endtrans %}</h1>

<p>
  {% trans %}Something broke.  Internal server error.  Aaahhhh...{% endtrans %}
</p>

<p>
  {% trans %}Matt has probably been notified about this error.  If he doesn't contact you about it and it keeps happening, please contact him.{% endtrans %}
</p>

{% if sentry_event_id %}
<p>
  {% trans %}You can <a href="#" id="start-feedback">submit a bug-report</a> pretty easily.{% endtrans %}
  <script>
  document.getElementById('start-feedback').addEventListener('click', function() {
    Raven.showReportDialog({
      eventId: '{{ sentry_event_id }}',
      dsn: '{{ sentry_public_dsn }}',
      {% if g.user %}
      user: {
        {% if g.user.name %}name: '{{ g.user.name }}',{% endif %}
        {% if g.user.email %}email: '{{ g.user.email }}',{% endif %}
      },
      {% endif %}
    });
  }, false);
  </script>
{% else %}
<p>
  {% trans %}If you do email Matt (hello@bucketsisbetter.com), include this chunk of information in your email:{% endtrans %}
  <pre style="font-family: monospace; white-space: pre-wrap;">{{ request_debug_data() }}</pre>
</p>
{% endif %}



{% endblock %}