{% extends 'base.html' %}

{% block title %}{% trans %}Buy Buckets{% endtrans %}{% endblock %}

{% block extrahead %}
<style>
.security-notice {
  padding-top: .5rem;
}
.how-to-pay-label {
  text-align: center;
  padding-bottom: 1rem;
}
.payment-options {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.payment-options .option {
  margin: .5rem;
  padding: 1rem;
  border-radius: 6px;
}
.payment-options .option-label {
  padding-bottom: 1rem;
}
</style>
{% endblock %}

{% block navlinks %}{% endblock %}

{% block content %}
<div class="wrap spaced">
  <p class="callout" style="text-align: center;">
    {% trans %}How do you want to pay?{% endtrans %}
  </p>
  <div class="payment-options">
    <div class="option">
      <form action="{{ url_for('.buy') }}" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-image="{{ url_for('static', filename='img/main_logo.png') }}"
          data-key="{{ config.STRIPE_PUBLIC_KEY }}"
          data-amount="2900"
          data-name="Buckets"
          data-label="{% trans %}Credit Card{% endtrans %}"
          data-description="{% trans %}Family budgeting app{% endtrans %}"
          data-zip-code="true"
          data-billing-address="false"
          data-locale="auto"
          data-allow-remember-me="false"
        >
        </script>
      </form>
      <div class="security-notice">
        <a href="https://stripe.com" target="_blank"><img src="{{ url_for('static', filename='img/powered_by_stripe.svg') }}" /></a>
      </div>
    </div>
    <div class="option">
      <form method="post" action="{{ url_for('.paypal_create_payment') }}">
        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" border="0" alt="Buy now with PayPal" />
      </form>
    </div>
  </div>
  <div class="callout para">
    {% trans %}For a <em>one-time $29 payment,</em> you will be emailed a Buckets License which may be used on any number of computers belonging to you and your immediate family members living in your home.{% endtrans %}
  </div>
  <div class="callout para">
    {% trans %}If you've lost your license, email me at hello@budgetwithbuckets.com{% endtrans %}
  </div>
  <div class="callout para">
    - Matt
  </div>
</div>
{% endblock content %}