{% extends 'base.html' %}

{% block title %}{% trans %}Buy Buckets{% endtrans %}{% endblock %}

{% block navlinks %}{% endblock %}

{% block content %}
<div class="wrap spaced">
    <div style="text-align: center;">
        <form action="/buy" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-image="{{ url_for('static', filename='img/main_logo.png') }}"
            data-key="{{ config.STRIPE_PUBLIC_KEY }}"
            data-amount="1500"
            data-name="Buckets"
            data-label="{% trans %}Purchase License{% endtrans %}"
            data-description="{% trans %}Family budgeting app{% endtrans %}"
            data-zip-code="true"
            data-billing-address="false"
            data-locale="auto"
            data-allow-remember-me="false"
            data-bitcoin="true"
          >
          </script>
        </form>
    </div>
    <div class="callout para">
        <span class="highlight">{% trans %}Buckets is 50% off from now until January 2018.{% endtrans %}</span>
        {% trans %}For a <em>one-time $15 payment,</em> you will be emailed a Buckets License which may be used on any number of computers belonging to you and your immediate family members living in your home.{% endtrans %}
    </div>
    <div class="callout para">
        {% trans %}If you've lost your license, email me at hello@budgetwithbuckets.com{% endtrans %}
    </div>
    <div class="callout para">
        - Matt
    </div>
</div>
{% endblock content %}