{% extends 'base2.html' %}

{% block navlinks %}{% endblock %}

{% block content %}
<div class="wrap spaced">
    <div style="text-align: center;">
        <form action="/buy" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-image="{{ url_for('static', filename='img/main_logo.png') }}"
            data-key="{{ config.STRIPE_PUBLIC_KEY }}"
            data-amount="2000"
            data-name="Buckets"
            data-label="Purchase License"
            data-description="Family budgeting app"
            data-zip-code="true"
            data-billing-address="false"
            data-locale="auto"
            data-allow-remember-me="false"
            data-bitcoin="true"
          >
          </script>
        </form>
    </div>
    <div class="callout para">
        For a <em>one-time $20 payment,</em> you will be emailed a Buckets License which may be used on any number of computers belonging to you and your immediate family members living in your home.
    </div>
    <div class="callout para">
        If you've lost your license, email me at hello@bucketsisbetter.com
    </div>
    <div class="callout para">
        - Matt
    </div>
</div>
{% endblock content %}