{% extends 'base2.html' %}

{% block navlinks %}{% endblock %}

{% block extrahead %}
<style>
.buttonish.download {
  margin: .5rem 0 0;
  white-space: nowrap;
  display: block;
}
.download-section {
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  display: block;
  width: 20rem;
}
.side-by-side {
  display: flex;
  max-width: 100%;
}
.main-shot-wrap {
  flex-basis: 75%;
  flex-grow: 6;
}
img.main-shot {
  max-width: 100%;
  top: -20%;
  position: relative;
}
.intro-para {
  flex-basis: 25%;
  flex-grow: 4;
}
</style>
{% endblock %}

{% block header %}
<div class="hero">
  <img src="/static/img/logo.svg" />
</div>
{% endblock %}

{% block content %}
<div class="large wrap spaced" style="margin-bottom: -5rem;">
  <div class="side-by-side">
    <div class="main-shot-wrap">
      <img src="/static/img/shots/transactions.png" class="main-shot" />
    </div>
    <div class="intro-para">
      <span class="callout">
        Buckets makes budgeting <em>fast</em>, <em>simple</em> and <em>private.</em>
      </span>
    
      <div class="download-section">
        <a name="download"></a>
        <span class="fa fa-download"></span> Download for:
        <div>
          <a class="buttonish download" href="https://github.com/buckets/application/releases/download/v0.9.1/Buckets-0.9.1.dmg">
            <span class="fa fa-apple"></span>
            macOS
          </a>
        </div>
        <div>
          <a class="buttonish download" href="https://github.com/buckets/application/releases/download/v0.9.1/Buckets-Setup-0.9.1.exe">
            <span class="fa fa-windows"></span>
            Windows
          </a>
        </div>
        <div>
          <a class="buttonish download" href="https://github.com/buckets/application/releases/latest">
            <span class="fa fa-linux"></span>
            Linux
          </a>
        </div>
      </div>  

    </div>
  </div>
</div>
<div class="wrap">
  <div class="callout para">
    Buckets is <em>private</em>.  Other budgeting apps make you store all your financial information on their servers.  <em>Ever wonder who's combing through your cloud-stored transaction history?</em>  With Buckets, your personal data stays on your computer.
  </div>

  <div class="callout para">
    Buckets is <em>affordable</em> with <em>no monthly fee.</em>  A single license may be used on all your computers and all the computers of family members living in your home.  You can afford to teach your kids how to budget now.
  </div>

  <div class="callout para">
    
  </div>

  <div class="callout para">
    Buckets is <em>not free.</em>
    <br/>...wait, how is that a benefit?  Everything has a cost.  And if you're not paying with money, you're paying in other ways.  Consider the costs of free services&mdash;is it worth it?
  </div>

  <div class="callout para">
    Buckets is for <em>both of you.</em>  Ditch that old spreadsheet that only one of you knows how to use.  From now on, you can stay on the same financial page.
  </div>

  <div class="callout para">
    <em>Ready to buy?</em>  <span class="highlight">Buckets is 50% off from now until January 2018.</span>  <a href="{{ url_for('.buy') }}">Buy it today for a one-time $20 payment.</a>
  </div>
</div>
{% endblock content %}