{% extends 'base.html' %}

{% block navlinks %}
<a {{ navlink('.summary') }}>Summary</a>
<a {{ navlink('.accounts') }}>Accounts</a>
<a {{ navlink('.buckets') }}>Buckets</a>
<a {{ navlink('.transactions') }}>Transactions</a>
<a {{ navlink('.reports') }}>Reports</a>
{% endblock %}

{% block extrahead %}
<script src="/static/js/vend/lodash.min.js"></script>
<script src="/static/js/vend/jquery-3.1.0.min.js"></script>
<script src="/static/js/vend/react-15.2.1.js"></script>
<script src="/static/js/vend/react-dom-15.2.1.js"></script>
<script src="/static/js/vend/ReactDnD.min.js"></script>
<script src="/static/js/vend/ReactDnDHTML5Backend.min.js"></script>
<script src="/static/js/vend/browser.min.js"></script>

<script src="/static/js/money.js"></script>
<script src="/static/js/react-money.jsx" type="text/babel"></script>
<script src="/static/js/goals.js"></script>
<script src="/static/js/react-goals.jsx" type="text/babel"></script>
<script>
function apiRequest(data, success) {
  $.ajax({
    type: 'POST',
    url: '{{ url_for('farm.api') }}',
    data: JSON.stringify(data),
    contentType: 'application/json',
    success: success
  });
}
</script>
{% endblock %}

{% block content %}
{% endblock %}
