{% extends 'base.html' %}

{% block navlinks %}
{% if g.show.summary %}<a {{ navlink('.summary') }}>Summary</a>{% endif %}
{% if g.show.transactions %}<a {{ navlink('.transactions') }}>Transactions</a>{% endif %}
{% if g.show.buckets %}<a {{ navlink('.buckets') }}>Buckets</a>{% endif %}
<a {{ navlink('.accounts') }}>Accounts</a>
{% if g.show.connections %}<a {{ navlink('.connections') }}>Connections</a>{% endif %}
{% if g.show.reports %}<a {{ navlink('.reports') }}>Reports</a>{% endif %}
{% endblock %}

{% block signoutlink %}<a href="{{ url_for('app.maybe_signout') }}">Sign out</a>{% endblock %}

{% block content_class %}hide-until-react{% endblock %}

{% block extrahead %}
<script src="/static/js/vend/lodash.min.js"></script>
<script src="/static/js/vend/jquery-3.1.0.min.js"></script>
{% if g.debug %}
<script src="/static/js/vend/react-15.2.1.js"></script>
<script src="/static/js/vend/react-dom-15.2.1.js"></script>
{% else %}
<script src="/static/js/vend/react-15.2.1.min.js"></script>
<script src="/static/js/vend/react-dom-15.2.1.min.js"></script>
{% endif %}
<script src="/static/js/vend/browser.min.js"></script>
<script src="/static/js/vend/math.min.js"></script>

<script src="/static/js/farm.js"></script>
<script src="/static/js/money.js"></script>
<script src="/static/js/goals.js"></script>
<script src="/static/js/react-money.jsx" type="text/babel"></script>
<script src="/static/js/react-goals.jsx" type="text/babel"></script>
<script src="/static/js/react-inputs.jsx" type="text/babel"></script>
<script>
var Store = {
  summary: null,
  real_current_month: parseMonth("{{ real_current_month }}"),
  month: parseMonth("{{ g.month.isoformat() }}"),
  month_last_day: parseDate("{{ g.month_last_day.isoformat() }}"),
  buckets: [],
  accounts: [],
  transactions: [],
  groups: [],
};

var _api_request_hooks = [];
function registerApiRequestHook(func) {
  _api_request_hooks.push(func);
}

function apiRequest(data, success) {
  var label = '';
  var multi = false;
  if (_.isArray(data)) {
    label = _.uniq(_.map(data, 'method')).join(',')
    multi = true;
  } else {
    label = data.method;
  }
  $.ajax({
    type: 'POST',
    url: '{{ url_for('.api') }}-' + label,
    data: JSON.stringify(data),
    contentType: 'application/json',
    success: function(response) {
      // call given success handler
      success(response);

      // call hooks
      var calls = [[data, response]];
      if (multi) {
        calls = _.zip(data, response);
      }
      calls.map(function(args) {
        _api_request_hooks.map(function(func) {
          func(args[0], args[1]);  
        })
      })
    },
    error: function(r, status, err) {
      if (err === 'FORBIDDEN') {
        location.reload();
      }
    }
  });
}

function url_for(endpoint, kwargs) {
  var data = {
    endpoint: endpoint,
  };
  data.kwargs = _.merge(kwargs || {}, {{ request.view_args|json|safe }});
  var d = $.Deferred();
  $.ajax({
    type: 'POST',
    url: '{{ url_for('.urlfor') }}',
    data: JSON.stringify(data),
    contentType: 'application/json',
    success: function(response) {
      d.resolve(response);
    },
    error: function(r, status, err) {
      if (err === 'FORBIDDEN') {
        location.reload();
      }
    }
  })
  return d;
}

</script>
{% endblock %}


{% block pre_content %}<div class="loading-screen show-until-react">
Loading...
</div>{% endblock %}

{% block subheader %}
<div id="month-bar" class="hide-until-react"></div>

<script type="text/babel">
var target_el = document.getElementById('month-bar');

var session_summary_key = 'summary-' + formatDate(Store.month);
var session_summary = sessionStorage.getItem(session_summary_key);
if (session_summary) {
  try {
    Store.summary = JSON.parse(session_summary);
  } catch(err) {
    Store.summary = null;
  }
}
if (!Store.summary) {
  Store.summary = {
    accounts: {
      balance: 0,
      income: 0,
      expenses: 0,
      transfers: 0,
    },
    buckets: {
      balance: 0,
      income: 0,
      expenses: 0,
      transfers: 0,
      rain: 0,
    }
  };
}

function updateSummary() {
  apiRequest({
    method: 'get_month_summary',
    kwargs: {
      'month': formatDate(Store.month),
    },
  }, function(response) {
    Store.summary = response;
    sessionStorage[session_summary_key] = JSON.stringify(Store.summary);
    MonthBarData.rerender();
  })
}
var debounced_updateSummary = _.debounce(updateSummary, 500);
debounced_updateSummary();

var MonthBarData = {};

MonthBarData.rerender = function() {
  ReactDOM.render(<MonthBar
    month={Store.month}
    data={Store.summary}
    real_current_month={Store.real_current_month} />, target_el, function() {
      $('.hide-until-react').addClass('react-loaded');
      $('.show-until-react').addClass('react-loaded');
    });
}

var MonthBar = React.createClass({
  getInitialState: function() {
    return {
      month: this.props.month,
    }
  },
  monthChanged: function(newmonth) {
    this.setState({month: newmonth});
  },
  goBackOneMonth: function() {
    this.changeMonth(-1);
  },
  goForwardOneMonth: function() {
    this.changeMonth(1);
  },
  changeMonth: function(amount) {
    var newmonth = addMonths(this.props.month, amount);
    var year = newmonth.getFullYear();
    var month = newmonth.getMonth() + 1;
    url_for('.{{ request.endpoint.split('.')[-1] }}', {
      year: year,
      month: month,
    })
    .then(function(url) {
      window.location.href = url;
    })
  },
  render: function() {
    var month_warning = null;

    if (formatDate(this.props.month) !== formatDate(this.props.real_current_month)) {
      var text = this.props.month < this.props.real_current_month ? "In the past" : "Future";
      month_warning = (<span className="tag warning">{text}</span>);
    }
    var current_month = (<span>{formatMonth(this.props.month)}</span>);
    return (<div className="subheader">
      <div className="item">
        <div className="label center">{month_warning}</div>
        <div className="value">
          <a onClick={this.goBackOneMonth} className="text-button">&lt;</a>
          {current_month}
          <a onClick={this.goForwardOneMonth} className="text-button">&gt;</a>
        </div>
      </div>
      <div className="item">
        <div className="label">Balance</div>
        <div className="value"><Money value={this.props.data.accounts.balance} /></div>
      </div>
      <div className="item">
        <div className="label">Income</div>
        <div className="value"><Money value={this.props.data.accounts.income} /></div>
      </div>
      <div className="item">
        <div className="label">Expenses</div>
        <div className="value"><Money value={this.props.data.accounts.expenses} /></div>
      </div>
      <div className="item">
        <div className="label">Rain</div>
        <div className="value"><Money value={this.props.data.buckets.rain} /></div>
      </div>
    </div>);
  }
});

registerApiRequestHook(function(request, response) {
  if (request.method !== 'get_month_summary') {
    debounced_updateSummary();
  }
});
MonthBarData.rerender();
</script>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}