{% extends 'farm/base.html' %}

{% block content %}

<script type="text/babel">
var Number = React.createClass({
  render: function() {
    var value = this.props.value;
    return (<span className="number">{value}</span>)
  }
})
var BucketRow = React.createClass({
  render: function() {
    return (
      <tr>
        <td>{this.props.bucket.name}</td>
        <td><Number value={this.props.bucket.balance} /></td>
        <td><input type="text" /></td>
        <td><Number value={this.props.bucket.deposit} /></td>
        <td></td>
        <td><a href="">Edit</a></td>
      </tr>
    )
  }
});
var BucketTable = React.createClass({
  render: function() {
    var bucket_rows = this.props.buckets.map(function(bucket) {
      return (
        <BucketRow bucket={bucket}></BucketRow>
      );
    })
    return (
      <table className="ledger" width="100%">
        <tr>
          <th>Bucket</th>
          <th>Balance</th>
          <th>Deposit</th>
          <th>Monthly Deposit</th>
          <th>Goal</th>
          <th>Edit</th>
        </tr>
        <tbody>
          {bucket_rows}
        </tbody>
        <tr className="subtotal">
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    );
  }
});
var buckets = {{ buckets|tojson|safe }};
renderHere(<BucketTable buckets={buckets}/>);
</script>

{% if buckets %}
<table class="ledger" width="100%">
  <tr>
    <th>Bucket</th>
    <th>Balance</th>
    <th>Deposit</th>
    <th>Monthly Deposit</th>
    <th>Goal</th>
    <th>Edit</th>
  </tr>
  {% for bucket in buckets %}
  <tr>
    <td>{{ bucket.name }}</td>
    <td class="right {{ 'negative' if bucket.balance < 0 }}">{{ bucket.balance|money }}</td>
    <td><input type="text"></td>
    <td class="right">{{ bucket.deposit|money }}</td>
    <td></td>
    <td><a href="">Edit</a></td>
  </tr>
  {% endfor %}
  {% if buckets %}
  {% set total = buckets|sum(attribute='balance') %}
  <tr class="subtotal">
    <td>Total</td>
    <td class="right {{ 'negative' if total < 0 }}">{{ total|money }}</td>
    <td></td>
    <td class="right"></td>
  </tr>
  {% endif %}
</table>
{% endif %}


<h2>Add bucket</h2>
<form method="post">
<table class="form">
  <tr>
    <th>Name</th>
    <td><input type="text" name="name"></td>
  </tr>
  <tr>
    <th></th>
    <td><button type="submit">Add Bucket</button></td>
  </tr>
</table>
</form>
{% endblock %}