{% extends 'farm/base.html' %}

{% block content %}

<h1>Transactions</h1>

<script type="text/babel" id="el1">
var target_el = afterEl(document.getElementById('el1'));

Store.transactions = [];
Store.buckets = {{ buckets|json|safe }};
Store.accounts = {{ accounts|json|safe }};
Store.rerender = function() {
  ReactDOM.render(<TransTable
    buckets={Store.buckets}
    transactions={Store.transactions}
    accounts={Store.accounts}
    month={Store.month}
    posting_date={Store.month_last_day} />, target_el);
}
Store.addTransaction = function(trans) {
  Store.transactions.push(trans);
  Store.rerender();
}
Store.updateTrans = function(trans) {
  _.each(Store.transactions, function(old_trans) {
    if (old_trans.id === trans.id) {
      _.assign(old_trans, trans);
    }
  });
  Store.rerender();
}
Store.rmTransaction = function(trans_id) {
  _.remove(Store.transactions, function(trans) {
    return ('' + trans.id) === ('' + trans_id);
  });
}

function onEnter(func) {
  return function(ev) {
    if (ev.key === 'Enter') {
      func();
    }
  }
};

var Categorizer = React.createClass({
  getInitialState: function() {
    return {
      total: this.props.transaction.amount,
      buckets: _.clone(this.props.transaction.buckets),
    }
  },
  generalCatHandler: function(category) {
    return function(ev) {
      apiRequest({
        method: 'categorize',
        kwargs: {
          trans_id: this.props.transaction.id,
          category: category,
        }
      }, function(transaction) {
        Store.updateTrans(transaction);
        this.props.onChange(transaction);
      }.bind(this));
    }.bind(this);
  },
  ok: function(ev) {
    apiRequest({
      method: 'categorize',
      kwargs: {
        trans_id: this.props.transaction.id,
        buckets: this.state.buckets,
      }
    }, function(transaction) {
      Store.updateTrans(transaction);
      this.props.onChange(transaction);
    }.bind(this));
  },
  categoryChangedHandler: function(cat) {
    return function(ev) {
      cat.bucket_id = ev.target.value;
      this.setState({
        buckets: this.state.buckets,
      })
    }.bind(this);
  },
  amountChangedHandler: function(cat) {
    return function(amount) {
      cat.amount = Math.abs(amount);
      this.setState({
        buckets: this.state.buckets,
      })
    }.bind(this);
  },
  deleteCategoryHandler: function(cat) {
    return function() {
      _.pull(this.state.buckets, cat);
      this.setState({
        buckets: this.state.buckets,
      })
    }.bind(this)
  },
  focusOnFirst: function(select) {
    if (this._firstselect) {
      return;
    } else {
      this._firstselect = select;
      select.focus();
    }
  },
  render: function() {
    var bucket_options = _(this.props.buckets)
      .sortBy(['name', 'id'])
      .map(function(bucket) {
        return (<option key={bucket.id} value={bucket.id}>{bucket.name}</option>);
      })
      .value();
    var buckets = this.state.buckets;
    var used_amount = Math.abs(_.sumBy(buckets, 'amount'));
    var left = Math.abs(this.state.total) - used_amount;

    if (left) {
      if (buckets.length && !buckets[buckets.length-1].bucket_id) {
        buckets[buckets.length-1].amount += left;
      } else {
        buckets.push({
          bucket_id: "",
          amount: left,
        });
      }
    }
    var i = -1;
    var categories = buckets.map(function(cat) {
      i += 1;
      return (<div key={i} className="category">
        <select
          ref={this.focusOnFirst}
          className="bucket"
          value={cat.bucket_id}
          onKeyDown={onEnter(this.ok)}
          onChange={this.categoryChangedHandler(cat)}>
            <option value=""></option>
            {bucket_options}
        </select>
        <MoneyInput
          className="amount"
          value={cat.amount}
          size="7"
          onKeyDown={onEnter(this.ok)}
          onChange={this.amountChangedHandler(cat)} />
        <a className="text-button" onClick={this.deleteCategoryHandler(cat)}>X</a>
      </div>)
    }.bind(this));
    return (<div className="categorizer">
      {categories}
      <button onClick={this.ok}>Ok</button>
      <button onClick={this.generalCatHandler('income')}>Income</button>
      <button onClick={this.generalCatHandler('transfer')}>Transfer</button>
    </div>);
  }
})

var TransRow = React.createClass({
  propTypes: {
    transaction: React.PropTypes.object.isRequired,
    accounts: React.PropTypes.array.isRequired,
    buckets: React.PropTypes.array.isRequired,
    onSelected: React.PropTypes.func.isRequired,
  },
  getInitialState: function() {
    return {
      categorizing: false,
    }
  },

  startCategorizing: function() {
    this.setState({categorizing: true});
    return false;
  },
  transChanged: function(towhat) {
    this.setState({categorizing: false});
  },
  checkboxToggled: function(ev) {
    this.props.onSelected(this.props.transaction.id, ev.target.checked);
  },
  render: function() {
    var account = _.find(this.props.accounts, function(account) {
      return account.id === this.props.transaction.account_id;
    }.bind(this));
    var categories_section;
    if (this.state.categorizing) {
      categories_section = (<Categorizer
        transaction={this.props.transaction}
        buckets={this.props.buckets}
        onChange={this.transChanged}/>);
    } else {
      // Not categorizing
      if (this.props.transaction.buckets.length) {
        // Existing categories
        var i = -1;
        var labels = this.props.transaction.buckets.map(function(cat) {
          i += 1;
          var amount_part = null;
          if (this.props.transaction.buckets.length >= 2) {
            amount_part = (<div className="category-amount"><Money value={cat.amount} /></div>);
          }
          var bucket = _.find(this.props.buckets, function(bucket) {
            return bucket.id === cat.bucket_id;
          })
          var name = bucket.name;
          var style = {
            backgroundColor: bucket.color
          }
          return (<div
            key={i}
            tabIndex="0"
            onClick={this.startCategorizing}
            onKeyDown={onEnter(this.startCategorizing)}
            className="category-tag"
            style={style}><div className="category-name">{name}</div>{amount_part}</div>);
        }.bind(this))
        categories_section = (<div>{labels}</div>);
      } else if (this.props.transaction.general_cat) {
        // General category (income/transfer)
        var display = this.props.transaction.general_cat == 'income' ? '💰 Income' : '⇄ Transfer';
        categories_section = (<a tabIndex="0"
          onClick={this.startCategorizing}
          onKeyDown={onEnter(this.startCategorizing)}>{display}</a>);
      } else {
        // No categorization
        categories_section = (<a tabIndex="0" onClick={this.startCategorizing} onFocus={this.startCategorizing}>??? Categorize</a>);
      }
    }
    return (
      <tr>
        <td><input type="checkbox" checked={this.props.checked} onChange={this.checkboxToggled} /></td>
        <td>{account.name}</td>
        <td>{this.props.transaction.posted.split('T')[0]}</td>
        <td>{this.props.transaction.memo}</td>
        <td><Money value={this.props.transaction.amount} /></td>
        <td>{categories_section}</td>
      </tr>
    )
  }
})

var TransTable = React.createClass({
  getInitialState: function() {
    return {
      amount: '',
      posted: formatDate(this.props.posting_date || new Date()),
      memo: '',
      account_id: '',
      selected: {},
      nothing: 0,
    }
  },
  componentDidMount: function() {
    apiRequest({
      method: 'list_account_trans',
      kwargs: {
        month: formatDate(this.props.month),
      }
    }, function(response) {
      Store.transactions = response;
      Store.rerender();
    }.bind(this));
  },
  createTransaction: function() {
    if (!this.state.account_id || !this.state.posted || !this.state.amount) {
      return;
    }
    apiRequest({
      method: 'account_transact',
      kwargs: {
        account_id: this.state.account_id,
        posted: this.state.posted,
        memo: this.state.memo,
        amount: this.state.amount,
      }
    }, function(response) {
      Store.addTransaction(response);
    }.bind(this));

    this.setState({
      amount: '',
      memo: '',
    });
    this._postedInput.focus();
  },
  propLink: function(attr) {
    return {
      value: this.state[attr],
      onChange: this.valueChangeHandler(attr),
    }
  },
  valueChangeHandler: function(attr) {
    return function(ev) {
      var newstate = {};
      newstate[attr] = ev.target.value;
      this.setState(newstate);
    }.bind(this);
  },
  amountChanged: function(amount) {
    this.setState({amount: amount});
  },
  postedRef: function(input) {
    this._postedInput = input;
  },
  transSelected: function(trans_id, selected) {
    if (selected) {
      this.state.selected[trans_id] = selected;
    } else {
      delete this.state.selected[trans_id];
    }
    this.setState({
      selected: this.state.selected,
    })
  },
  deleteSelected: function() {
    var num = _.size(this.state.selected);
    if (num <= 1 || confirm(`Are you sure you want to delete these ${num} transactions?`)) {
      var requests = _.keys(this.state.selected).map(function(trans_id) {
        return {
          method: 'delete_account_trans',
          kwargs: {
            id: trans_id
          }
        };
      })
      apiRequest(requests, function(responses) {
        _.each(requests, function(request) {
          delete this.state.selected[request.kwargs.id];
          Store.rmTransaction(request.kwargs.id);
        }.bind(this));
        this.setState({selected: this.state.selected});
      }.bind(this));
    }
  },
  doNothing: function() {
    this.setState({nothing: this.state.nothing + 1}, function() {
      if (this.state.nothing % 11 === 0) {
        alert("This button doesn't do anything.");
      }
    });
  },
  toggleShowingUncategorized: function(ev) {
    if (ev.target.checked) {
      // Show only the uncategorized
      var onlyShow = [];
      _.each(this.props.transactions, function(trans) {
        if (!trans.buckets.length && !trans.general_cat) {
          onlyShow.push(trans.id);
        }
      })
      this.setState({onlyShow: onlyShow});
    } else {
      // Show all transactions
      this.setState({onlyShow: null});
    }
  },
  render: function() {
    var transaction_rows = [];
    transaction_rows = _(this.props.transactions)
      .sortBy(function(trans) {
        return [trans.posted, trans.account_id, trans.id];
      })
      .reverse();
    if (_.isArray(this.state.onlyShow)) {
      transaction_rows = transaction_rows.filter(function(trans) {
        return _.includes(this.state.onlyShow, trans.id);
      }.bind(this));
    }
    transaction_rows = transaction_rows
      .map(function(trans) {
        var selected = false;
        if (this.state.selected[trans.id]) {
          selected = true;
        }
        return (<TransRow
          key={trans.id}
          transaction={trans}
          accounts={this.props.accounts}
          buckets={this.props.buckets}
          onSelected={this.transSelected}
          />);
        }.bind(this))
      .value();

    if (!transaction_rows.length) {
      var nice_month = formatMonth(this.props.month);
      transaction_rows = (<tr>
        <td colSpan="100" className="center">There are no transactions for {nice_month}.</td>
      </tr>);
    }

    var add_label = this.state.amount < 0 ? 'Record expense' : 'Record deposit';
    var account_options = this.props.accounts.map(function(account) {
      return (<option key={account.id} value={account.id}>{account.name}</option>);
    })

    var num_selected = _.size(this.state.selected);
    var delete_button_disabled = !num_selected;
    var display_num_selected = num_selected ? num_selected : '';

    return (
    <div>
      <div className="toolbar">
        <button className="danger" disabled={delete_button_disabled} onClick={this.deleteSelected}>Delete {display_num_selected}</button>
        <button onClick={this.doNothing}>Do nothing</button>
        <label><input type="checkbox" onClick={this.toggleShowingUncategorized}/>Uncategorized</label>
      </div>
      <table className="ledger" width="100%">
        <thead>
          <tr>
            <th></th>
            <th style={ {width: '8rem'}}>Account</th>
            <th style={ {width: '8rem'}}>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th style={ {width: '20rem'}}>Categories</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><select {...this.propLink('account_id')}>
              <option value=""></option>{account_options}</select></td>
            <td><input ref={this.postedRef} type="date" {...this.propLink('posted')} /></td>
            <td><input type="text" {...this.propLink('memo')} /></td>
            <td><MoneyInput value={this.state.amount} onChange={this.amountChanged} size="7" /></td>
            <td><button onClick={this.createTransaction}>{add_label}</button></td>
          </tr>
          {transaction_rows}
        </tbody>
      </table>
    </div>
    )  
  }
});
Store.rerender();
</script>


{% endblock %}