{% extends 'farm/base.html' %}

{% block content %}

<h1>Transactions</h1>

<script type="text/babel">
var target_el = thisNext();

var Store = {};
Store.transactions = [];
Store.buckets = {{ buckets|json|safe }};
Store.accounts = {{ accounts|json|safe }};
Store.rerender = function() {
  ReactDOM.render(<TransTable buckets={Store.buckets} transactions={Store.transactions} accounts={Store.accounts} />, target_el);
}
Store.addTransaction = function(trans) {
  Store.transactions.push(trans);
  Store.rerender();
}
Store.updateTrans = function(trans) {
  _.each(Store.transactions, function(old_trans) {
    if (old_trans.id === trans.id) {
      _.assign(old_trans, trans);
    }
  });
  Store.rerender();
}

var Categorizer = React.createClass({
  getInitialState: function() {
    return {
      total: this.props.transaction.amount,
      buckets: _.clone(this.props.transaction.buckets),
    }
  },
  skip: function(ev) {
    apiRequest({
      method: 'skip_categorizing',
      kwargs: {
        trans_id: this.props.transaction.id,
      }
    }, function(transaction) {
      Store.updateTrans(transaction);
      this.props.onChange(transaction);
    }.bind(this));
  },
  ok: function(ev) {
    apiRequest({
      method: 'categorize',
      kwargs: {
        trans_id: this.props.transaction.id,
        buckets: this.state.buckets,
      }
    }, function(transaction) {
      Store.updateTrans(transaction);
      this.props.onChange(transaction);
    }.bind(this));
  },
  categoryChangedHandler: function(cat) {
    return function(ev) {
      cat.bucket_id = ev.target.value;
      this.setState({
        buckets: this.state.buckets,
      })
    }.bind(this);
  },
  amountChangedHandler: function(cat) {
    return function(amount) {
      cat.amount = Math.abs(amount);
      this.setState({
        buckets: this.state.buckets,
      })
    }.bind(this);
  },
  deleteCategoryHandler: function(cat) {
    return function() {
      _.pull(this.state.buckets, cat);
      this.setState({
        buckets: this.state.buckets,
      })
    }.bind(this)
  },
  render: function() {
    var bucket_options = this.props.buckets.map(function(bucket) {
      return (<option key={bucket.id} value={bucket.id}>{bucket.name}</option>);
    })
    var buckets = this.state.buckets;
    var used_amount = Math.abs(_.sumBy(buckets, 'amount'));
    var left = Math.abs(this.state.total) - used_amount;

    if (left) {
      if (buckets.length && !buckets[buckets.length-1].bucket_id) {
        buckets[buckets.length-1].amount += left;
      } else {
        buckets.push({
          bucket_id: "",
          amount: left,
        });
      }
    }
    var i = -1;
    var categories = buckets.map(function(cat) {
      i += 1;
      return (<div key={i} className="category">
        <select
          className="bucket"
          value={cat.bucket_id}
          onChange={this.categoryChangedHandler(cat)}>
            <option value=""></option>
            {bucket_options}
        </select>
        <MoneyInput
          className="amount"
          value={cat.amount}
          onChange={this.amountChangedHandler(cat)} />
        <button onClick={this.deleteCategoryHandler(cat)}>X</button>
      </div>)
    }.bind(this));
    return (<div className="categorizer">
      {categories}
      <button onClick={this.ok}>Ok</button>
      <button onClick={this.skip}>Skip</button>
    </div>);
  }
})

var TransRow = React.createClass({
  propTypes: {
    transaction: React.PropTypes.object.isRequired,
    accounts: React.PropTypes.array.isRequired,
    buckets: React.PropTypes.array.isRequired,
    onSelected: React.PropTypes.func.isRequired,
  },
  getInitialState: function() {
    return {
      categorizing: false,
    }
  },

  startCategorizing: function() {
    this.setState({categorizing: true});
    return false;
  },
  transChanged: function(towhat) {
    this.setState({categorizing: false});
  },
  checkboxToggled: function(ev) {
    this.props.onSelected(this.props.transaction.id, ev.target.checked);
  },
  render: function() {
    var account = _.find(this.props.accounts, function(account) {
      return account.id === this.props.transaction.account_id;
    }.bind(this));
    var categories_section;
    if (this.state.categorizing) {
      categories_section = (<Categorizer
        transaction={this.props.transaction}
        buckets={this.props.buckets}
        onChange={this.transChanged}/>);
    } else {
      // Not categorizing
      if (this.props.transaction.buckets.length) {
        // Existing categories
        var i = -1;
        var labels = this.props.transaction.buckets.map(function(cat) {
          i += 1;
          var amount_part = null;
          if (this.props.transaction.buckets.length >= 2) {
            amount_part = (<div className="category-amount"><Money value={cat.amount} /></div>);
          }
          var bucket = _.find(this.props.buckets, function(bucket) {
            return bucket.id === cat.bucket_id;
          })
          var name = bucket.name;
          return (<div key={i} tabIndex="0" onClick={this.startCategorizing} className="category-tag"><div className="category-name">{name}</div>{amount_part}</div>);
        }.bind(this))
        categories_section = (<div>{labels}</div>);
      } else if (this.props.transaction.skip_cat) {
        // Skip
        categories_section = (<a onClick={this.startCategorizing}>Skipped</a>);
      } else {
        // No categorization
        categories_section = (<a onClick={this.startCategorizing}>Categorize</a>);
      }
    }
    return (
      <tr>
        <td><input type="checkbox" checked={this.props.checked} onChange={this.checkboxToggled} /></td>
        <td>{account.name}</td>
        <td>{this.props.transaction.posted.split('T')[0]}</td>
        <td>{this.props.transaction.memo}</td>
        <td><Money value={this.props.transaction.amount} /></td>
        <td>{categories_section}</td>
      </tr>
    )
  }
})

var TransTable = React.createClass({
  getInitialState: function() {
    var today = (new Date()).toISOString().split('T')[0];
    return {
      amount: '',
      posted: today,
      memo: '',
      account_id: '',
      selected: {},
    }
  },
  componentDidMount: function() {
    apiRequest({
      method: 'list_account_trans',
    }, function(response) {
      Store.transactions = response;
      Store.rerender();
    }.bind(this));
  },
  createTransaction: function() {
    if (!this.state.account_id || !this.state.posted || !this.state.amount) {
      return;
    }
    apiRequest({
      method: 'account_transact',
      kwargs: {
        account_id: this.state.account_id,
        posted: this.state.posted,
        memo: this.state.memo,
        amount: this.state.amount,
      }
    }, function(response) {
      Store.addTransaction(response);
    }.bind(this));

    this.setState({
      amount: '',
      memo: '',
    });
    this._postedInput.focus();
  },
  propLink: function(attr) {
    return {
      value: this.state[attr],
      onChange: this.valueChangeHandler(attr),
    }
  },
  valueChangeHandler: function(attr) {
    return function(ev) {
      var newstate = {};
      newstate[attr] = ev.target.value;
      this.setState(newstate);
    }.bind(this);
  },
  amountChanged: function(amount) {
    this.setState({amount: amount});
  },
  postedRef: function(input) {
    this._postedInput = input;
  },
  transSelected: function(trans_id, selected) {
    if (selected) {
      this.state.selected[trans_id] = selected;
    } else {
      delete this.state.selected[trans_id];
    }
    this.setState({
      selected: this.state.selected,
    })
  },
  render: function() {
    var transaction_rows = [];
    transaction_rows = _.reverse(_.sortBy(this.props.transactions, function(trans) {
      return [trans.posted, trans.account_id, trans.id];
    }))
      .map(function(trans) {
        var selected = false;
        if (this.state.selected[trans.id]) {
          selected = true;
        }
        return (<TransRow
          key={trans.id}
          transaction={trans}
          accounts={this.props.accounts}
          buckets={this.props.buckets}
          onSelected={this.transSelected}
          />);
    }.bind(this));
    var add_label = this.state.amount < 0 ? 'Record expense' : 'Record deposit';
    var account_options = this.props.accounts.map(function(account) {
      return (<option key={account.id} value={account.id}>{account.name}</option>);
    })

    var num_selected = _.size(this.state.selected);
    var delete_button_disabled = !num_selected;
    var display_num_selected = num_selected ? num_selected : '';

    return (
    <div>
      <div className="toolbar">
        <button className="danger" disabled={delete_button_disabled}>Delete {display_num_selected}</button>
        <button>Do nothing</button>
      </div>
      <table className="ledger" width="100%">
        <thead>
          <tr>
            <th><input type="checkbox" name="transaction[]" /></th>
            <th>Account</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Categories</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><select {...this.propLink('account_id')}>
              <option value=""></option>{account_options}</select></td>
            <td><input ref={this.postedRef} type="date" {...this.propLink('posted')} /></td>
            <td><input type="text" {...this.propLink('memo')} /></td>
            <td><MoneyInput value={this.state.amount} onChange={this.amountChanged} /></td>
            <td><button onClick={this.createTransaction}>{add_label}</button></td>
          </tr>
          {transaction_rows}
        </tbody>
      </table>
    </div>
    )  
  }
});
Store.rerender();
</script>


{% endblock %}