@import url('fonts.css');
html,
body {
  margin: 0;
  padding: 0;
  font-size: 11pt;
}

:root {
  --logoblue: rgba(34, 173, 244, 1.0);

  --hover-highlight-color: rgba(241, 196, 15, 0.1);
  --faint-blue: rgba(52, 152, 219, 0.25);
  --faint-green: rgba(46, 204, 113, 0.25);

  --blue: rgba(52, 152, 219,1.0);
  --purple: rgba(155, 89, 182,1.0);
  --red: rgba(231, 76, 60,1.0);
  --orange: rgba(230, 126, 34,1.0);
  --yellow: rgba(241, 196, 15,1.0);
  --green: rgba(46, 204, 113,1.0);
  --teal: rgba(26, 188, 156,1.0);

  --darker-blue: rgba(41, 128, 185,1.0);
  --darker-purple: rgba(142, 68, 173,1.0);
  --darker-red: rgba(192, 57, 43,1.0);
  --darker-orange: rgba(211, 84, 0,1.0);
  --darker-yellow: rgba(243, 156, 18,1.0);
  --darker-green: rgba(39, 174, 96,1.0);
  --darker-teal: rgba(22, 160, 133,1.0);

  --darkblue: rgba(52, 73, 94,1.0);
  --darker-darkblue: rgba(44, 62, 80,1.0);

  --lightest-grey: rgba(236, 240, 241,1.0);
  --lighter-grey: rgba(189, 195, 199,1.0);
  --grey: rgba(149, 165, 166,1.0);
  --darker-grey: rgba(127, 140, 141,1.0);
  --blackish: rgba(37, 35, 35, 1.0);

  --highlighter: rgb(255,255,204);

  --drop-shadow: 1px 1px 14px rgba(0,0,0,0.2);
}

*,
button {
  box-sizing: border-box;
}
.nobr {
  white-space: nowrap;
}
.right {
  text-align: end !important;
}
.left {
  text-align: start !important;
}
.center {
  text-align: center !important;
}
.full-width {
  min-width: 100%;
}

.error {
  color: var(--red);
}

a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  text-decoration: underline;
}

ol.spaced li {
  margin: 1rem 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.app .nav {
  background-color: var(--darker-darkblue);
  color: rgba(255,255,255,0.8);
  padding: 1rem 1rem 1rem 0;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .nav a,
.app .nav .label {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.3rem 1rem;
  margin-bottom: 0;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .nav .label {
  font-size: 1.2rem;
  opacity: 0.6;
  max-width: 12rem;
  border-radius: 0;
}
.app .nav a.sub {
  font-size: 1rem;
  padding-left: 2rem;
}
.app .nav a:hover {
  background-color: rgba(0,0,0,0.5);
}
.app .nav a.selected,
.app .nav a.selected:hover {
  background-color: var(--darker-teal);
  color: white;
}
.app .nav a.selected-parent,
.app .nav a.selected-parent:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.app .nav a.trial-version {
  /*font-weight: bold;*/
  color: black;
  background: var(--yellow);
  margin-top: .5rem;
  /*border-radius: 0 3px 3px 0;*/
  /*text-align: center;*/
  /*padding: .5rem;*/
}
.app .nav a.trial-version:hover {
  cursor: pointer;
  background: var(--blue);
  color: white;
}



/* Badges */
.badge {
  color: white;
  display: inline-block;
  padding: .1rem .7rem;
  border-radius: 3000px;
  background-color: var(--blue);
  font-size: .8rem;
}
.badge.red {
  background-color: var(--red);
}
.app .nav a .badge {
  margin-right: -0.5rem;
}
.app .nav a.selected .badge {
  color: var(--darker-teal);
  background-color: white;
}
/* End of badges */


.fieldlist {
}
.fieldlist th,
.fieldlist td {
  padding: .25rem;
}
.fieldlist th {
  white-space: nowrap;
  font-weight: bold;
  color: var(--darkblue);
  text-align: right;
  vertical-align: top;
}
.fieldlist td {
  vertical-align: top;
}

/* Alert */
.alert {
  color: var(--orange);
  display: inline-block;
  padding: 0 .25rem;
}
.alert.info {
  color: var(--blue);
}
.notice {
  padding: 1rem;
  background-color: var(--highlighter);
  display: block;
}
span.experimental {
  background-color: var(--highlighter);
  border: 1px solid var(--yellow);
  font-size: .8rem;
  padding: .2rem .4rem;
  border-radius: 3px;
  float: right;
}

.app .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.app .content .header {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightest-grey);
  border-bottom: 1px solid var(--lighter-grey);;
  flex-shrink: 0;
  min-width: 100%;
}
.os-windows .app .content .header {
  border-top: 1px solid var(--lighter-grey);
}
.app .content .page {
  flex-grow: 1;
  flex-basis: 1px;
  width: 100%;
  display: flex;
  overflow: auto;
}


.rows {
  flex-grow: 1;
  flex-basis: 1px;
  display: flex;
  flex-direction: column;
}

.subheader {
  flex-shrink: 0;
  border-bottom: 1px dashed var(--lighter-grey);
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
.subheader .group {
  display: flex;
  align-items: center;
}
.subheader > div,
.subheader .group > div {
  margin: 0 .25rem;
}
.subheader > div:first-child,
.subheader .group > div:first-child {
  margin-left: 0;
}
.subheader > div:last-child,
.subheader .group > div:last-child {
  margin-right: 0;
}

.rows .section {
  border-bottom: 1px dashed var(--lighter-grey);
}

hr.page {
  border: 0;
  border-bottom: 1px dashed var(--lighter-grey);
  width: 100%;
  margin: 2rem 0;
}

.rows .panes {
  overflow: auto;
}
.rows .single-pane {
  flex-grow: 1;
  overflow-x: auto;
  padding-bottom: 2rem;
}
.panes {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.panes > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1px;
  border-left: 1px solid var(--lightest-grey);
}
.panes > *:first-child {
  border: 0;
}

.padded {
  padding: 1rem;
}
.padded h2 {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
}
.padded.full-width {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}


.layout-top-bottom-panes {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}
.layout-top-bottom-panes > * {
  flex-basis: 50%;
  overflow: auto;
  border-top: 1px solid var(--lighter-grey);
}
.layout-top-bottom-panes > *:first-child {
  border-top: 0;
}


.layout-two-col {
  display: grid;
  flex-grow: 1;
  grid-template-columns: min-content auto;
  grid-template-areas:
    "first second";
}
.layout-two-col .first {
  grid-area: first;
}
.layout-two-col .second {
  grid-area: second;
  border-left: 1px solid var(--lighter-grey);
}

h1 {
  margin-top: 0;
  font-weight: 800;
  color: var(--darkblue);
}
h2 {
  font-weight: 400;
  color: var(--darkblue);
  background: var(--lightest-grey);
}
h3:first-child {
  margin-top: 0;
}

.instructions {
  max-width: 40rem;
}

.month-selector {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.month-selector button {
  border: 0;
  background-color: transparent;
  color: rgba(0,0,0,0.1);
  font-size: 0.8rem;
  height: 100%;
  transition: color 0.1s;
  margin: initial;
  padding: initial;
}
.month-selector button:hover {
  color: rgba(0,0,0,0.4);
  background-color: transparent;
}
.month-selector button:focus,
.month-selector button:active {
  outline: none;
}
.month-selector button:active {
  color: black;
}
.month-selector select.month {
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  transition: color 0.1s;
  text-align: end;
  text-align-last: end;
}
.month-selector select.month:active,
.month-selector select.month:focus {
  outline: none;
}
.month-selector input.year {
  border: 0;
  background: transparent;
  text-align: start;
  transition: color 0.1s, border-bottom-color 0.1s;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}
.month-selector input.year:focus,
.month-selector input.year:active {
  outline: none;
  border-bottom-color: var(--blue);
}

.month-selector.big {
  padding: 0.5rem 0;
  margin-right: 1rem;
  margin-left: 1rem;
}
.month-selector.big button {
  font-size: 1rem;
}
.month-selector.big select.month {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.2rem;
}
.month-selector.big input.year {
  font-size: 1.5rem;
  border-bottom-width: 3px;
  border-top-width: 3px;
}

.color-1 {
  color: var(--blue);
}
.color-2 {
  color: var(--purple);
}
.color-3 {
  color: var(--red);
}
.color-4 {
  color: var(--orange);
}
.color-5 {
  color: var(--yellow);
}
.color-6 {
  color: var(--green);
}
.color-7 {
  color: var(--blue);
}
.color-8 {
  color: var(--purple);
}
.color-9 {
  color: var(--red);
}
.color-10 {
  color: var(--orange);
}
.color-11 {
  color: var(--yellow);
}
.color-12 {
  color: var(--green);
}

.number {
  display: inline-block;
  transition: transform 0.1s, opacity 0.1s, color 0.1s;
}
.number.negative {
  color: var(--red);
}
.number.animating {
  transform: scale(1.1);
  opacity: 0.7;
  color: var(--darker-green);
}
.number.animating.down {
  transform: scale(0.9);
  color: var(--darker-red);
}

.money.big {
  font-size: 1.5rem;

}
.money.smallcents.number {
  display: inline-flex;
  align-items: flex-start;
}
.money.smallcents .dollar {

}
.money.smallcents .decimal {
  display: none;
}
.money.smallcents .cents {
  font-size: 50%;
  padding-left: .1rem;
  padding-top: 4%;
}

.money.faint-cents .decimal,
.money.faint-cents .cents {
  opacity: 0.2;
}

.money.zero.hidezero {
  display: none;
}


.incdeclabel {
  padding-left: .5rem;
  font-size: 75%;
}
.nominal {
  color: var(--lighter-grey);
}
.bad {
  color: var(--red);
}
.reallybad {
  color: white;
  background-color: var(--red);
}
.good {
  color: var(--green);
}
.reallygood {
  color: white;
  background-color: var(--green);
}

.click-to-edit {
  display: inline;
}
.click-to-edit:hover {
  background-color: var(--faint-blue);
}
.click-to-edit.editing:hover {
  background-color: initial;
}
.click-to-edit .wrap {
  display: inline-flex;
}
.click-to-edit input {
  border: 1px solid var(--blue);
}

a.subtle {
  color: var(--lighter-grey);
  text-decoration: none;
  transform: color 0.1s;
  cursor: pointer;
}
a.subtle:hover {
  color: var(--blue);
}
a.back-button {
  font-size: 1rem;
  color: var(--grey);
}


table.full-width {
  min-width: 100%;
}

table.vertical-align-top th,
table.vertical-align-top td {
  vertical-align: top;
}
td.top,
th.top {
  vertical-align: top;
}

table.fixed-head thead {
  table-layout: fixed;
}
table.fixed-head tbody {
  overflow: auto;
}

table.ledger {
  border-collapse: collapse;
  border-spacing: 0 0;
}

table.ledger th,
table.ledger td {
  border: 1px solid var(--lightest-grey);
  border-width: 1px 0;
  padding: 1px 5px;
  text-align: start;
  vertical-align: center;
}
table.ledger td.noborder,
table.ledger th.noborder {
  border: 0px solid transparent;
}
table.ledger tr.group-row td {
  border: none;
  vertical-align: middle;
  background-color: var(--lightest-grey);
  border-bottom: 1px solid var(--lighter-grey);
}

table.ledger th {
  text-align: start;
  vertical-align: bottom;

  border: none;
  border-bottom: 1px solid var(--lighter-grey);
  color: var(--lighter-grey);
  font-weight: normal;
  /*padding-left: 1rem;
  padding-right: 1rem;*/
}

table.ledger tr.section-divider th {
  padding-top: 2rem;
}

table.ledger .actions td {
  border: none;
  padding: 0.25rem 0;
}
table.ledger tr td.div-right,
table.ledger tr th.div-right {
  border-right: 2px solid var(--grey);
}
table.ledger tr td.div-left,
table.ledger tr th.div-left {
  border-left: 2px solid var(--grey);
}

table.ledger tr.action-row td {
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

table.ledger > tbody > tr:hover > td {
  background-color: var(--hover-highlight-color);
}
table.ledger tr.action-row:hover td {
  background-color: initial;
}
table.ledger tr:hover .drophandle {
  color: var(--grey);
}


table tr.hover:hover td,
table tr.hover:hover th {
  background-color: var(--hover-highlight-color);
}

.show-on-row-hover {
  opacity: 0;
  transition: opacity 0.1s;
}
table tr:hover .show-on-row-hover {
  opacity: 1;
}

table.summary {
  border-collapse: collapse;
}
table.summary td, 
table.summary th {
  padding: .5rem 0rem;
}
table.summary thead th,
table.summary tbody.line-below tr:last-child td,
table.summary tbody.line-below tr:last-child th {
  border-bottom: 1px solid var(--lighter-grey);
}
table.summary tbody.thickline-below tr:last-child td,
table.summary tbody.thickline-below tr:last-child th {
  border-bottom: 2px solid var(--lighter-grey);
}
table.summary .right-border {
  padding-right: 1rem;
  padding-left: 1rem;
}
table.summary tfoot th {
  border-top: 1px solid var(--lighter-grey);
}
table.summary .right-padded {
  padding-right: 1rem;
}
table.summary .left-padded {
  padding-left: 1rem;
}
table.summary th.right-border,
table.summary td.right-border {
  border-right: 1px solid var(--lighter-grey);
  text-align: end;
  padding-right: 1rem;
}
table.summary th.total {
  border-left: 1px solid var(--lighter-grey);
}
table.summary td.border-right {
  border-right: 1px solid var(--lighter-grey);
}
table.summary td.novpadding {
  padding-top: 0;
  padding-bottom: 0;
}
table.summary th.full-width {
  width: 100%;
}


table.ledger .icon-button-wrap,
.icon-button-wrap {
  padding: 0;
}
table.ledger .icon-button-wrap button.icon,
.icon-button-wrap button.icon {
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: .25rem .5rem;
}


/* Money */
.money-input {
  display: inline-flex;
  align-items: center;
}
.money-input.focused {
}
.money-input.computed {
}
.money-input input {
  max-width: 100px;
  min-width: 50px;
  border: 1px solid var(--lighter-grey);
  border-radius: 50px;
  padding: .1rem .4rem;
}
.money-input input:focus {
  outline: none;
  background-color: var(--highlighter);
}
.money-input .computed-value {
}
.money-input .computed-value:before {
  content: '=';
  padding: 0 4px 0 7px;
  opacity: 0.5;
  font-weight: bold;
}

/* Transactions */
.fa.from-fi {
  color: var(--lighter-grey);
}
.fa.from-fi:hover {
  color: var(--yellow);
}
.transaction-list td,
.transaction-list th {
  max-width: 40%;
}


/* Categories */
.category-input {
}
.category-input select {
  height: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.category-input select:focus {
  outline: 2px solid var(--blue);
}
.category-input select option {
  color: black;
  background-color: white;
}
.category-input .tag,
.category-tag {
  display: inline-grid;
  grid-template-columns: min-content min-content;
  align-content: stretch;
  background-color: var(--lightest-grey);
  border: 0px solid var(--lighter-grey);
  color: black;
  font-size: .8rem;
  cursor: pointer;
  margin: .1rem;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
}
.category-input .tag .name,
.category-tag .name {
  padding: 0 .5rem;
  white-space: nowrap;
  align-self: stretch;
}
.category-tag .name {
  padding: .1rem .3rem;
  vertical-align: middle;
}
.category-input .tag .amount,
.category-tag .amount {
  padding: .3rem .5rem;
  white-space: nowrap;
  align-self: stretch;
}
.category-tag .amount {
  padding: .1rem .3rem;
  vertical-align: middle;
}
.category-input .category {
  display: flex;
  align-items: center;
}
.category-input .delete-button {
  font-size: 1.6rem;
  padding: 0 .5rem;
  position: relative;
  top: -1px;
}


/* Top total tags */
.totals {
  padding: 0.5rem 1rem;
  display: flex;
  color: var(--darker-darkblue);
}
.totals total {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.totals total name {
  order: 2;
}
.totals total amount {
  order: 1;
  font-size: 1.5rem;
  text-align: start;
}
.totals total amount .number {
  display: inline-flex;
  align-items: flex-start;
}
.totals total amount .decimal {
  display: none;
}
.totals total amount .cents {
  font-size: .8rem;
  padding-left: .1rem;
  padding-top: .2rem;
}

.totals total.section-start {
  border-left: 1px solid var(--lighter-grey);
  padding-left: 2rem;
}
.totals inter-total {
  font-size: 1.5rem;
  color: var(--lighter-grey);
}
/* sub total tags */
.labeled-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.labeled-number .label {
  order: 2;
}
.labeled-number .value {
  order: 1;
  font-size: 1rem;
}



.permonth {
  font-size: .8rem;
  opacity: 0.5;
}

/* ColorPicker */
.color-picker {
  display: inline-block;
  margin: 0 .5rem;
}
.color-picker.open:focus {
  outline: none;
}
.color-picker .dot {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  background-color: black;
}
.color-picker.small .dot {
  width: 10px;
  height: 10px;
}
.color-picker .dot.selected {
  border: 3px solid black;
}
.color-picker .picker-wrap {
  position: relative;
}
.color-picker .pallete {
  position: absolute;
  border-radius: 3px;
  z-index: 5;
  top: -10px;
  left: .5rem;
  display: flex;
  flex-wrap: wrap;
  width: 9rem;
  background-color: white;
  box-shadow: var(--drop-shadow);
  padding: 0.5rem;
  align-items: flex-start;
  justify-content: space-around;
}
.color-picker.small .pallete {
  top: -5px;
  left: .5rem;
}
.color-picker .pallete .dot {
  width: 20px;
  height: 20px;
  margin: 0.25rem;
}


/* Drag and Drop */
.nopad {
  padding: 0 !important;
}
.drophandle {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  color: transparent;
  user-select: none;
  padding: 0 0.5rem;
  transform: color 0.1s;
}
.drophandle:hover {
  color: var(--grey);
}
.drophandle:active {
}
.isDragging {
  opacity: 0.5;
}
.underDrag {
}
.dropTopHalf .drophandle {
  border-top-color: red;
}
.dropBottomHalf .drophandle {
  border-bottom-color: red;
}


.changing-value {
  position: relative;
}
.changing-value.changing .old-value {
  position: absolute;
  top: -.25rem;
  right: 0;
  transform: scale(1, .6);
  transform-origin: top right;
  opacity: .2;
}
.changing-value.changing .old-value * {
  opacity: 1;
}
.changing-value.changing .new-value {
  position: relative;
  top: .25rem;
}


.clickable {
  cursor: pointer;
}

/* Inputs */
button {
  padding: 0.2rem 0.8rem 0.3rem;
  border: 1px solid var(--lighter-grey);
  background-color: var(--lightest-grey);
  color: var(--darker-darkblue);
  border-radius: 3px;
  margin: 0 2px;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
}
button.primary {
  background-color: var(--blue);
  color: white;
  border-color: var(--darker-blue);
}
button.icon {
  background-color: transparent;
  border-color: transparent;
  font-size: 0.9rem;
  margin: 0;
  width: 1.4rem;
  height: 1.5rem;
  line-height: 1rem;
  padding: 0;
  text-align: center;
}
button.icon.inline {
  height: auto;
  line-height: initial;
}
button.icon.white {
  background-color: white;
}
button.icon.grey {
  background-color: var(--lightest-grey);
}

button:hover,
button.icon.white:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--darker-darkblue);
}
button:focus {
  outline: none;
  border-color: var(--blue);
}
button:active {
  background-color: var(--blue);
}
button[disabled],
button[disabled]:hover {
  background-color: var(--lightest-grey);
  border-color: var(--lightest-grey);
  color: var(--lighter-grey);
  cursor: initial;
}
button button {
  margin: 0;
}
button.delete {
  background-color: var(--red);
  color: white;
  border-color: var(--darker-red);
}
button.delete:hover,
button.delete.pulse {
  background-color: var(--darker-red);
  animation-name: deletepulse;
  animation-duration: .5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes deletepulse {
  from {
    background-color: var(--red);
  }
  to {
    background-color: var(--darker-red);
  }
}


.safety-switch {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.safety-switch button {
  position: relative;
  margin: 0;
  display: inline-block;
  min-height: 1.54rem;
}
.safety-switch .under {
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 6px -3px black inset;
}
.safety-switch .under.delete[disabled] {
  background-color: var(--lightest-grey);
  border-color: transparent;
}
.safety-switch.open .under {
}
.safety-switch .cover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  transform-origin: top center;
  transition: transform 0.2s;
  transition-timing-function: ease-in-out;
}
.safety-switch.open .cover {
  transform: translateY(-110%);
}


/* Rain */
button.makeitrain {
  background: linear-gradient(45deg, var(--blue) 0%, var(--teal) 100%);
  color: white;
  border-color: var(--darker-blue);
  transition: transform .1s;
}
button.makeitrain:hover {
  animation: glow .5s infinite alternate ease-in-out;
}
button.makeitrain:active {
  transform: scale(.8);
}
button.makeitrain[disabled] {
  background: var(--lightest-grey);
  border-color: var(--lighter-grey);
  color: var(--darker-darkblue);
  cursor: initial;
  animation: none;
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 0px 0px var(--yellow)
  }
  100% {
    box-shadow: 0px 0px 34px 2px var(--yellow)
  }
}

textarea.paragraph {
  width: 30rem;
  min-height: 6rem;
  padding: .5rem;
  font-size: 1rem;
}



/* Buckets */
.kicked-ribbon {
  background-color: var(--red);
  color: white;
  font-weight: bold;
  padding: .5rem 1rem;
}

/* Bucket goal details */
.ledger td.bucket-details-wrap,
.bucket-details-wrap {
  padding: 0;
  margin: 0;
}
.bucket-details {
  display: flex;
  flex-direction: column;
  min-height: 1.5rem;
  min-width: 100%;
}
.bucket-details .summary {
  min-width: 100%;
  min-height: 1.5rem;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  font-size: .8rem;
}
.bucket-details .summary a.editlink {
  display: flex;
  color: var(--grey);
  background-color: var(--lightest-grey);
  align-self: stretch;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0 .4rem;
}
.bucket-details.open .summary a.editlink {
  background-color: white;
}
.bucket-details .summary a.editlink:hover {
  background-color: var(--yellow);
  color: var(--darkblue);
  cursor: pointer;
}
.bucket-details .details {
  padding: 1rem;
  background-color: var(--lightest-grey);
  border-top: 1px dashed var(--lightest-grey);
}
table.props {
}
table.props td,
table.props th {
  border: 0;
  text-align: left;
}
.goal-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goal-summary > * {
  margin: 0.2rem .5rem;
}

.progress-bar {
  display: inline-block;
  width: 10rem;
  height: 12px;
  border-radius: 1000px;
  overflow: hidden;
  border: 2px solid var(--blue);
}
.progress-bar .bar {
  color: white;
  text-align: end;
  height: 12px;
  font-size: 8px;
  line-height: 8px;
  max-width: 100%;
  min-width: 0%;
  transition: width 0.3s;
  background-color: var(--blue);
  position: relative;
}
.progress-bar .bar .percent-label {
  position: absolute;
  right: -2.1rem;
  color: var(--darkblue);
  width: 2rem;
  text-align: start;
  transition: right .1s, text-align .1s;
}
.progress-bar.overhalf .bar .percent-label {
  text-align: end;
  color: white;
  right: .2rem;
}
.progress-bar.complete .bar .percent-label {
  text-align: end;
  width: 100%;
  position: relative;
  right: .2rem;
}
.progress-bar-wrap {
  display: inline-block;
}
.progress-bar-wrap .text-label {
  font-size: 8px;
  margin-top: 2px;
  margin-right: 4px;
  line-height: 0px;
  text-align: end;
}

.progress-bubble {
  width: .75rem;
  height: 1rem;
  margin-left: 3px;
  border: 1px solid var(--grey);
  border-radius: 2px;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  transition: color 0.1s, border-color 0.1s;
}
.progress-bubble .bubble-fill {
  width: 100%;
  background-color: var(--blue);
  border-top: 1px solid var(--blue);
  transition: height 0.1s, color 0.1s, border-color 0.1s;
}
.progress-bubble.empty .bubble-fill {
  border-top-width: 0;
}
.progress-bubble.full {
  border-color: var(--faint-green);
}
.progress-bubble.full .bubble-fill {
  border-top-width: 0;
  background-color: var(--faint-green);
}
/*.progress-bubble.overfilled .bubble-fill {
  border-top-width: 0;
  background-color: var(--green);
}*/



.horiz-options {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.horiz-options .option {
  padding: 1rem;
  background-color: var(--lightest-grey);
  border: 1px solid var(--lighter-grey);
  border-radius: 4px;
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 10%;
}
.horiz-options .option h3 {
  margin-top: 0;
}

.procon .fa-check {
  color: var(--green);
}
.procon .fa-close {
  color: var(--red);
}
.procon .fa-question {
  color: var(--blue);
}



.dialog {
  border: 6px solid var(--blue);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 30rem;
}
.dialog:empty {
  display: none;
}

.simplefin-token {
  margin: 1rem 0;
  border: 3px solid tan;
  padding: 0.5rem;
  font-family: monospace;
  display: block;
  font-size: 1rem;
  word-wrap: break-word;
  width: 100%;
  min-height: 4rem;
}

.toasts {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 30vw;
}
.toasts .toast {
  position: relative;
  padding: .5rem 1rem;
  margin: 1rem;
  background-color: var(--darker-blue);
  color: white;
  border: 3px solid var(--darker-blue);
  border-radius: 3px;
  box-shadow: var(--drop-shadow);
  transition: right 200ms ease-in, left 200ms ease-in, opacity 200ms ease-in;
}
.toasts .toast.error {
  background-color: var(--red);
  color: white;
  font-weight: bold;
  border-color: var(--darker-red);
}
.toasts .toast.warning {
  background-color: var(--yellow);
  color: black;
  font-weight: bold;
  border-color: var(--yellow);
}
.toast-enter {
  right: -100%;
  opacity: 0;
}
.toast-enter.toast-enter-active {
  right: 0;
  opacity: 1;
}
.toast-leave {
  right: 0;
  opacity: 1;
}
.toast-leave.toast-leave-active {
  right: -100%;
  opacity: 0;
}


/* Text search */
.text-finder {
  position: fixed;
  top: 0;
  right: 11rem;
  background-color: white;
  padding: .5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid var(--lighter-grey);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 9px -3px;
}
.text-finder button {
  background: none;
  border: none;
  padding: 0 .5rem;
}
.text-finder button:hover {
  background: var(--yellow);
}
.text-finder .matchcount-wrap {
  position: relative;
  width: 0;
}
.text-finder .matchcount {
  position: absolute;
  right: .4rem;
  top: 1px;
  color: var(--grey);
  font-size: .8rem;
  width: 4rem;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.text-finder input {
  padding-right: 4.1rem;
  width: 10rem;
  border: 1px solid var(--grey);
  border-radius: 3px;
}
.text-finder input:focus {
  outline: none;
  border-color: var(--blue);
}


.sync-widget {

}
.sync-widget .details {
  font-size: .8rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}


/* tooltip */
.help {
  display: inline-block;
  cursor: help;
}
.help .icon {
  color: var(--lighter-grey);
}
.help .note-outer {
  position: relative;
  display: inline-block;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  z-index: 6;
}
.help .note-inner {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 12rem;
  max-width: 20rem;
}
.help .note {
  position: relative;
  width: 100%;
  white-space: pre-wrap;
  background-color: var(--lightest-grey);
  color: var(--darker-darkblue);
  padding: .5rem .8rem;
  border-radius: 4px;
  border: 3px solid var(--darker-darkblue);
  box-shadow: var(--drop-shadow);
  text-align: start;
  font-size: 1rem;
  font-weight: 400;
}
.help.clicked-open .note {
  background-color: white;
}
.help.right .note-inner {
  right: 100%;
  left: initial;
}
.help table {
  width: 100%;
}
.help td.total-line {
  border-top: 1px solid var(--darker-darkblue);
}


/*https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js*/
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 1rem;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Charts */
.numberline {
  display: inline-block;
}
g.hover-labels text.label {
  opacity: 0;
  transition: opacity 0.05s;
}
g.hover-labels:hover text.label {
  opacity: 1;
}
g.hover-labels:hover rect.highlight {
  fill: var(--blue);
}

.icon-hover-trigger .hover.icon {
  opacity: 0;
}
.icon-hover-trigger:hover .hover.icon {
  opacity: 0.5;
}

.note-maker {
  display: inline;
}
.note-maker.inline {
  padding-left: .25rem;
  padding-right: .5rem;
}
.note-maker.has-note .note-icon {
  opacity: 1;
}
.note-maker .note-icon:hover,
.note-maker.showing .note-icon {
  opacity: 1;
}
.note-maker .note-wrap {
  display: inline;
  position: relative;
}
.note-maker .note-inner {
  z-index: 5;
  position: absolute;
  top: 1.25rem;
  left: -.75rem;
  display: flex;
  flex-direction: column;
}
.note-maker .note-inner textarea {
  border: none;
  padding: 0.5rem;
  min-height: 4rem;
  min-width: 15rem;
  margin: 0;
  background-color: white;
  border: 3px solid var(--lighter-grey);
  box-shadow: var(--drop-shadow);
  border-radius: 4px;
  outline: none;
}
.note-maker .note-inner textarea:focus {
  border-color: var(--blue);
}
.note-maker.focused .note-help {
  opacity: 1;
}
.note-maker .note-help {
  font-size: .8rem;
  color: var(--grey);
  text-align: end;
  background-color: white;
  padding: 0 .25rem;
  transition: opacity .1s;
  opacity: 0;
}

.icon.green-check {
  font-weight: bold;
  opacity: 0;
  color: var(--darker-green);
}
.icon.green-check.on {
  opacity: 1;
}
.icon-hover-trigger:hover .icon.hover.green-check.on {
  opacity: 1;
}

.record-list-item {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--lighter-grey);
  border-radius: 3px;
}


/* Blend in elements */
.money-input.ctx-matching-input input,
.ctx-matching-input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
  transition: color 0.1s, border-bottom-color 0.1s;
}
.money-input.ctx-matching-input input:focus,
.ctx-matching-input:focus {
  outline: none;
  border: none;
  border-radius: none;
  padding: 0;
  background-color: transparent;
}

/* Tools list */
.tools-list {
  padding: 1rem;
}
.tools-list a {
  border: 1px solid var(--lighter-grey);
  background: var(--lightest-grey);
  padding: 1rem;
  display: block;
  margin: 1rem;
  border-radius: 3px;
  color: var(--darker-darkblue);
}
.tools-list a:hover {
  text-decoration: none;
  border-color: var(--blue);
  background-color: var(--faint-blue);
}

