@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
html,
body {
    margin: 0;
    padding: 0;
    font-size: 11pt;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
.app .nav {
    background-color: rgba(44, 62, 80,1.0);
    color: rgba(255,255,255,0.8);
    padding: 1rem 1rem 1rem 0;
}
.app .nav a {
    padding: 0.2rem 1rem;
    margin-bottom: 0.2rem;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    display: block;
}
.app .nav a:hover {
    background-color: rgba(0,0,0,0.5);
}
.app .nav a.selected,
.app .nav a.selected:hover {
    background-color: rgba(22, 160, 133,1.0);
    color: white;
}

.app .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.app .content .header {
    padding: 1rem;
    background-color: rgba(236, 240, 241,1.0);
}
.app .content .body {
    padding: 1rem;
    overflow: auto;
}

table.ledger {
    border-collapse: collapse;
}
table.ledger th,
table.ledger td {
    border: 1px solid lightgrey;
    padding: 1px 5px;
    text-align: left;
}