import * as React from 'react'
import * as moment from 'moment'

import { ILangPack, IMessages } from './spec';


const messages:IMessages = {
}
export const pack:ILangPack = {
  name: 'Português',
  dir: 'ltr',
  messages
}
