@import 'https://fonts.googleapis.com/css?family=Lato';
*,
input {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body, html {
    padding: 0;
    margin: 0;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid lightgrey;
    border-width: 1px 0 0;
}

.side-by-side-buttons {
  display: flex;
  justify-content: space-between;
}
.side-by-side-buttons > * {
  margin-left: .5rem;
  margin-right: .5rem;
  flex-grow: 1;
}
.side-by-side-buttons > *:first-child {
  margin-left: 0;
}
.side-by-side-buttons > *:last-child {
  margin-right: 0;
}

.center {
    text-align: center;
}