{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Buckets</h1>

<h2>Sign in</h2>
<form method="post" action="{{ url_for('.signin') }}">
  Email address: <input type="text" name="email" autofocus>
  <br/><button type="submit">Sign in</button>
</form>

<h2>Register</h2>
<form method="post" action="{{ url_for('.register') }}">
  Name: <input type="text" name="name">
  <br/>Email address: <input type="text" name="email">
  <br/><button type="submit">Register</button>
</form>
{% endblock %}