{% extends 'app/base.html' %}

{% block extrahead %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block title %}Billing{% endblock %}

{% block content %}
<h1>Billing</h1>

<h2>Credit Card</h2>

{% if payment_method %}
<div class="pair">
  <div class="label">Card ending in:</div>
  <div class="value">{{ payment_method.last4 }}</div>
</div>
<div class="pair">
  <div class="label">Expires</div>
  <div class="value">{{ payment_method.exp_month }}/{{ payment_method.exp_year }}</div>
</div>
{% endif %}

<form action="{{ url_for('.set_credit_card') }}" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ config.STRIPE_PUBLIC_KEY }}"
    data-email="{{ g.user.email }}"
    data-amount="0"
    data-name="Buckets"
    data-panel-label="Save"
    data-label="{{ 'Enter Credit Card' if not payment_method else 'Update Credit Card' }}"
    data-description="Great budgeting app"
    data-locale="auto">
  </script>
</form>
{% endblock %}
