{% macro pin_form(name='pin', id='pin-form') %}
<form method="post" id="{{ id }}" autocomplete="foobee">
  {{ csrf_input() }}
  {{ caller() }}
  <div class="numberpad">
    <input type="password" name="sldkflskdjflksdjf{{ now }}" autocomplete="off" id="{{ id }}-password" autofocus placeholder="PIN" maxlength="4" size="5">
    <input type="hidden" name="{{ name }}" id="{{ id }}-hidden">
    <table>
        <tr>
            <td class="number" tabindex="0">7</td>
            <td class="number" tabindex="0">8</td>
            <td class="number" tabindex="0">9</td>
        </tr>
        <tr>
            <td class="number" tabindex="0">4</td>
            <td class="number" tabindex="0">5</td>
            <td class="number" tabindex="0">6</td>
        </tr>
        <tr>
            <td class="number" tabindex="0">1</td>
            <td class="number" tabindex="0">2</td>
            <td class="number" tabindex="0">3</td>
        </tr>
        <tr>
            <td></td>
            <td class="number" tabindex="0">0</td>
            <td class="backspace" tabindex="0">&#x232b;</td>
        </tr>
    </table>
    <button type="submit">Submit</button>
    <script>
    $(function() {
      var pin_password = $('#{{ id }}-password');
      var pin_hidden = $('#{{ id }}-hidden');
      console.log('pin_password', pin_password);
      console.log('pin_hidden', pin_hidden);
      $('#{{ id }}').submit(function(ev) {
        pin_hidden.val(pin_password.val());
      });
      
      function bindUse(elem, func) {
        elem.click(func);
        elem.keypress(function(ev) {
          if (ev.which === 13 || ev.which === 32 || ev.which === 0) {
            func(ev);
          }
        })
      }
      bindUse($('#{{ id }} .number'), function(ev) {
        var target = $(ev.target);
        var value = $(ev.target).text();
        pin_password.val((pin_password.val() + value).substr(0, 4));
      });
      bindUse($('#{{ id }} .backspace'), function(ev) {
        var current = pin_password.val();
        pin_password.val(current.substr(0, current.length-1));
      });
    });
    </script>
  </div>
</form>
{% endmacro %}