{% extends 'app/base.html' %}

{% block signoutlink %}<a href="{{ url_for('anon.signout') }}">Sign out</a>{% endblock %}

{% block content %}
<h1>You are (mostly) signed out.</h1>

<p>
    If this is a <span class="highlight">public computer</span> then you should <a href="{{ url_for('anon.signout') }}">sign out completely.</a>
</p>

<p>
    Otherwise, if this is a personal computer, close this window and you'll only have to enter your PIN when you <a href="/">come back.</a>
</p>
{% endblock %}
