{% extends 'app/base.html' %}

{% from 'app/macros.html' import pin_form %}

{% block content %}
<div class="lockscreen">
  <div class="lock-entry">
    <div class="lock"><i class="fa fa-lock fa-4x"></i></div>
    <h1>Create a PIN</h1>

    {% if previous_pin %}
    <p>
      Enter it again to make sure it's the same.
    </p>
    {% else %}
    <p>
      Create a 4-digit PIN to secure your account.  You will have to enter this PIN every time you access your account.
    </p>
    {% endif %}

    {% call pin_form('pin') %}
    <input type="hidden" name="previous_pin" value="{{ previous_pin }}">
    {% endcall %}
    </form>
  </div>
</div>
{% endblock %}
